.app {
    --width: 70px;
    --gap: 2px;
}

.app {
    display: grid;
    grid: repeat(9, var(--width) ) / repeat(9, var(--width));
    padding: 0.5rem;
    .item {
        border: var(--gap) solid seagreen;
        cursor: pointer;
        font-size: 2rem;

        /* Centering text */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.app-panel {
    .checked {
        max-width: 450px;
    }
}

.app .item {
    &.filled {
        cursor: not-allowed;
    }
    &.changable {
        color: lightblue;
    }
    &.invalid {
        color: red;
    }
}

/* Grids */
.app .item[data-row][data-col="3"],
.app .item[data-row][data-col="6"],
.app .item[data-row][data-col="9"] {
    border-right: calc(var(--gap) * 2) solid burlywood;
}


.app .item[data-row][data-col="1"],
.app .item[data-row][data-col="4"],
.app .item[data-row][data-col="7"] {
    border-left: calc(var(--gap) * 2) solid burlywood;
}

.app .item[data-row="3"],
.app .item[data-row="6"],
.app .item[data-row="9"] {
    border-bottom: calc(var(--gap) * 2) solid burlywood;
}

.app .item[data-row="1"],
.app .item[data-row="4"],
.app .item[data-row="7"] {
    border-top: calc(var(--gap) * 2) solid burlywood;
}

.app .item.selected[data-row][data-col] {
    border: calc(var(--gap) * 2) solid red;
}
